*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: aliceblue;
  font-family: var(--ff);
  background: repeating-linear-gradient(
    -45deg,
    transparent,
    transparent 12px,
    whitesmoke 12px,
    whitesmoke 24px
  );
  background-attachment: fixed;
  background-repeat: no-repeat;
}

@import url("https://fonts.googleapis.com/css2?family=Salsa&display=swap");
:root {
  --primary-color: #019875;
  --secondary-color: #007157;
  --textPrimary: #fff;
  --textSecondary: #777;

  --border: 3px solid var(--secondary-color);
  --bd-radius: 3px;
  --mb: 1rem;
  --ff: "Salsa", cursive;
  --shadow: 0 0 3px #cacaca;

  font-size: 16px;
}

/* pre-defined */
.btn {
  outline: none;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

/* Common */

.container {
  width: 1045px;
  margin: 0 auto;
  background-color: white;
  overflow: hidden;
  border-bottom: var(--border);
  border-top: var(--border);
  box-shadow: var(--shadow);
}

.container > section {
  padding-bottom: 0.5rem;
}

.body {
  display: flex;
  flex-wrap: wrap;
}

.body-head {
  flex-basis: 100%;
  padding: 5px;
}

.main-content {
  flex-basis: 680px;
}

.side-bar {
  flex-basis: 310px;
}

/* Header Section  */

.header {
  display: flex;
  align-items: center;
  box-shadow: var(--shadow);
}

/* Header - Logo */

.header .logo {
  flex: 2;
}

.header .logo img {
  width: 100%;
  max-width: 200px;
  transition: all 100ms ease-in;
}

/* Header - Menu */

.menu {
  display: none;
  flex: 1;
}

.mobile-menu-btn i {
  font-size: 2rem;
}

/* Nav Section */

.nav-bar {
  background-color: var(--primary-color);
  border-radius: var(--bd-radius);
  border-bottom: var(--border);
  border-bottom-width: 5px;
  display: flex;
  padding: 0 5px;
}

.nav-link {
  color: var(--textPrimary);
  text-decoration: none;
  padding: 10px;
  display: block;
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: 0.06rem;
  font-family: var(--ff);
  border-right: var(--border);
}

.nav-link.active {
  background-color: var(--secondary-color);
}

/* Body Section */

/* --> Body Head */
.body,
.header {
  padding: 0.5rem;
}
.body-head {
  background: var(--primary-color);
  border-top: var(--border);
  border-radius: var(--bd-radius);
}

.breaking-news {
  display: flex;
  color: var(--textPrimary);
  align-items: center;
}

.breaking-news .heading,
.breaking-news a {
  padding: 4px 8px;
  padding-top: 0;
  color: var(--textPrimary);
  text-decoration: none;
  font-family: sans-serif;
  font-size: 13px;
}

.breaking-news .heading {
  border-right: 1px solid var(--secondary-color);
}
.breaking-news .fa {
  font-size: 1rem;
  display: none;
}
.breaking-news h2 {
  text-transform: capitalize;
  font-size: 1.2rem;
  font-family: var(--ff);
  font-weight: 400;
}

/* Main Content Section */

.content-header {
  padding: 2px;
}
.content-header h1 {
  padding: 10px;
  font-family: var(--ff);
  color: #ffffff;
  background: var(--primary-color);
  border-bottom: 5px solid var(--secondary-color);
  float: left;
  margin-right: 15px;
  margin-bottom: 0px;
  font-size: large !important;
  padding-bottom: 15px;
  border-radius: 0px 0px 5px 5px;
  font-weight: 400;
}

.content-header h1 span {
  padding-right: 5px;
}

.content-header p {
  text-transform: initial;
  text-size-adjust: inherit;
  text-align: justify;
  font-weight: bold;
  color: var(--primary-color);
  font-style: italic;
  font-family: var(--ff);
  font-size: 14px;
  line-height: 1.42857143;
}

/* Content Table Section */

.content-table table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  font-weight: 400;
  font-family: var(--ff);
  color: #444;
  font-weight: bold;
}

.content-table thead th:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.content-table thead th:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.content-table td,
.content-table th {
  font-size: 15px;
  font-size: 14px;
}

.content-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.content-table tbody tr:hover {
  background-color: lemonchiffon;
}

.content-table th {
  text-align: left;
  background-color: var(--primary-color);
  color: white;
  border-bottom: var(--border);
  border-bottom-width: 5px;
  padding: 10px 10px;
}

.content-table td {
  padding: 10px 0 !important;
}

.content-table td a {
  font-size: 14px;
  font-weight: bold;
  font-family: var(--ff);
  text-decoration: none;
}

.content-table tbody tr {
  border-bottom: 1px solid #cacaca;
}

.content-table td a:visited {
  color: var(--primary-color);
}

.details-btn {
  background-color: var(--primary-color);
  padding: 6px 12px;
  border-radius: var(--bd-radius);
  font-size: 13px;
  font-style: italic;
  border-bottom: var(--border);
  border-bottom-width: 5px;
}

.details-btn a {
  color: var(--textPrimary) !important;
}

.content-table td:first-child {
  padding-left: 15px !important;
}

/* Content Footer */
.pagination {
  border-top: var(--border);
  border-top-width: 5px;
  width: 100%;
}

.pagination a {
  color: #777;
  float: left;
  font-size: 13px;
  font-weight: bold;
  transition: color 100ms ease-in;
  padding: 4px 8px;
  text-decoration: none;
}

.pagination a:hover {
  color: black;
}

.pagination a.active {
  background-color: var(--primary-color);
  color: white;
}

/* Sidebar */

.side-bar {
  padding: 0 0.5rem;
}

.side-bar .box {
  border: 1px solid var(--secondary-color);
  border-radius: var(--bd-radius);
  margin-bottom: var(--mb);
}

/* Search Bar */

.search-box {
  border: none !important;
  padding: 0;
}
.search-container {
  padding: 1rem 0;
}

.search-container form {
  display: flex;
  justify-content: center;
}

.search-container input[type="text"] {
  padding: 6px;
  font-size: 17px;
  border: 2px solid var(--secondary-color);
  border-right: none;
  width: 100%;
  outline: none;
}

.search-container input[type="text"]:focus {
  background-color: #f2f2f2;
}

.search-container button {
  padding: 6px 10px;
  background: var(--primary-color);
  font-size: 17px;
  cursor: pointer;
  border-left: none;
  outline: none !important;
}

.search-container button:hover {
  background: var(--secondary-color);
}
/* Search Bar End */

.box-head {
  padding: 10px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 5px solid var(--secondary-color);
  border-radius: 0px 0px 5px 5px;
  background: var(--primary-color);
  font-family: var(--ff);
  width: 100%;
}

.side-bar .box h2,
.side-bar .box button .fa {
  font-size: 17px;
  color: var(--textPrimary);
}
.side-bar .box ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding-top: 2px;
  color: #26269a;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  justify-content: space-around;
}

.box ul li {
  border: 1px solid black;
  width: 49%;
  padding: 5px;
  text-align: center;
  background-color: #f7f7f7;
  margin-bottom: 5px;
}

.box ul li a {
  text-transform: capitalize;
  text-decoration: none;
  font-size: 13px !important;
  color: #26269a !important;
}

.box ul li a:hover {
  text-decoration: underline;
}

.panel ul li {
  padding: 0;
  border: none;
  background: none;
  border-bottom: 1px dotted #ddd;
  width: 90%;
  text-align: left;
}

.panel ul li a {
  font-size: 12px;
  padding: 0.5rem 1rem;
}

.panel-list {
  height: 0;
  overflow-y: hidden;
}
.panel-active {
  height: auto;
}
/* Footer Section */

.footer {
  background-color: #333;
  padding-top: 2.5rem !important;
  border-top: 0.5rem solid var(--primary-color);
  box-shadow: 0 -0.5rem 0 #ddd;
  margin-top: 2rem;
}

.footer .links {
  text-align: center;
  border-top: 1px solid #444;
  margin-bottom: 4px;
}

.footer .links a,
.footer .copyrights {
  font-size: 12px;
  letter-spacing: 0.02rem;
  font-weight: bold;
  color: #ccc;
  text-decoration: none;
  text-transform: capitalize;
  padding: 0 5px;
  border-right: 2px solid #ccc;
}

.footer .links a:last-child {
  border: none !important;
}

.copyrights {
  text-align: center;
  border: none !important;
}
/* Media Query */

@media screen and (max-width: 990px) {
  .container {
    width: 100%;
  }

  .body > section {
    flex-basis: 100%;
  }

  .header {
    margin-bottom: var(--mb);
  }
}

@media screen and (max-width: 600px) {
  .container > section {
    padding: 0;
  }
  .menu {
    display: block;
  }

  .nav {
    display: none;
  }

  .breaking-news .fa {
    display: block;
  }

  .breaking-news h2 {
    display: none;
  }

  .main-content tbody .btn {
    margin-right: 5px;
  }

  .main-content {
    margin-bottom: 1rem;
  }

  .related-articles {
    display: none;
  }
}
