*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: aliceblue;
  font-family: var(--ff);
  background: repeating-linear-gradient(
    -45deg,
    transparent,
    transparent 12px,
    whitesmoke 12px,
    whitesmoke 24px
  );
  background-attachment: fixed;
  background-repeat: no-repeat;
}

@import url("https://fonts.googleapis.com/css2?family=Salsa&display=swap");
:root {
  --primary-color: #019875;
  --secondary-color: #007157;
  --textPrimary: #fff;
  --textSecondary: #777;

  --border: 3px solid var(--secondary-color);
  --bd-radius: 3px;
  --mb: 1rem;
  --ff: "Salsa", cursive;
  --shadow: 0 0 3px #cacaca;

  font-size: 16px;
}

/* pre-defined */
.btn {
  outline: none;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

/* Common */

.container {
  width: 1045px;
  margin: 0 auto;
  background-color: white;
  overflow: hidden;
  border-bottom: var(--border);
  border-top: var(--border);
  box-shadow: var(--shadow);
}

.container > section {
  padding: 0.5rem;
}

.body {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.body-head {
  flex-basis: 100%;
  padding: 5px;
}

.main-content {
  flex-basis: 680px;
}

.side-bar {
  flex-basis: 310px;
}

/* Header Section  */

.header {
  display: flex;
  align-items: center;
  box-shadow: var(--shadow);
}

/* Header - Logo */

.header .logo {
  flex: 2;
}

.header .logo img {
  width: 100%;
  max-width: 200px;
  transition: all 100ms ease-in;
}

/* Header - Menu */

.menu {
  display: none;
  flex: 1;
}

.mobile-menu-btn i {
  font-size: 2rem;
}

/* Nav Section */

.nav-bar {
  background-color: var(--primary-color);
  border-radius: var(--bd-radius);
  border-bottom: var(--border);
  border-bottom-width: 5px;
  display: flex;
  padding: 0 5px;
}

.nav-link {
  color: var(--textPrimary);
  text-decoration: none;
  padding: 10px;
  display: block;
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: 0.06rem;
  font-family: var(--ff);
  border-right: var(--border);
}

.nav-link.active {
  background-color: var(--secondary-color);
}

/* Body Section */

/* --> Body Head */

.body-head {
  background: var(--primary-color);
  border-top: var(--border);
  border-radius: var(--bd-radius);
}

.breaking-news {
  display: flex;
  color: var(--textPrimary);
  align-items: center;
}

.breaking-news .heading,
.breaking-news a {
  padding: 4px 8px;
  padding-top: 0;
  color: var(--textPrimary);
  text-decoration: none;
  font-family: sans-serif;
  font-size: 13px;
}

.breaking-news .heading {
  border-right: 1px solid var(--secondary-color);
}
.breaking-news .fa {
  font-size: 1rem;
  display: none;
}
.breaking-news h2 {
  text-transform: capitalize;
  font-size: 1.2rem;
  font-family: var(--ff);
  font-weight: 400;
}

/* Main Content Section */

.content-header {
  padding: 5px;
}
.content-header h1 {
  padding: 10px;
  font-family: var(--ff);
  color: #ffffff;
  background: var(--primary-color);
  border-bottom: 5px solid var(--secondary-color);
  float: left;
  margin-right: 15px;
  margin-bottom: 0px;
  font-size: large !important;
  padding-bottom: 15px;
  border-radius: 0px 0px 5px 5px;
  font-weight: 400;
}

.content-header h1 span {
  padding-right: 5px;
}

.content-header p {
  text-transform: initial;
  text-size-adjust: inherit;
  text-align: justify;
  font-weight: bold;
  color: var(--primary-color);
  font-style: italic;
  font-family: var(--ff);
  font-size: 14px;
  line-height: 1.42857143;
}

/* Media Query */

@media screen and (max-width: 990px) {
  .container {
    width: 100%;
  }

  .body > section {
    flex-basis: 100%;
  }

  .header {
    margin-bottom: var(--mb);
  }
}

@media screen and (max-width: 600px) {
  .menu {
    display: block;
  }

  .nav {
    display: none;
  }

  .breaking-news .fa {
    display: block;
  }

  .breaking-news h2 {
    display: none;
  }
}
